name: CI/CD Pipeline

on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']
  push:
    branches:
      - main

jobs:
  typecheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.1.1
      - name: Use Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm install
      - run: pnpm typecheck
  test:
    runs-on: ubuntu-22.04
    needs: [typecheck]
    strategy:
      matrix:
        node: ['20']
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.1.1
      - name: Use Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm install
      - run: pnpm run coverage
      - name: Upload coverage report
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: coverage/lcov-report/index.html

  build:
    strategy:
      matrix:
        node: ['20']
    runs-on: ubuntu-22.04
    needs: [typecheck]
    steps:
      - uses: actions/checkout@v4 # v4.1.4
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.1.1
      - name: Use Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node }}
      - run: pnpm install
      - run: pnpm run build
